{% extends 'vapour/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
    <h1>Vapours Please</h1>
{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
{% endblock %}
